<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p> <br>
<%= link_to "Method chaining", static_pages_methodhaining_path %><br>
<%= link_to "jQuery each method", products_path %><br>
<%= link_to "jQuery wrap and unwrap element", static_pages_wrapandunwrap_path %><br>


