<h4>Method chaining(static_pages.js)</h4>
<ul>
  <li>US</li>
  <li>India</li>
  <li>UK</li>
  <li>Canada</li>
  <li>Australia</li>
</ul>

<h4>JSON result (static_pages.js)</h4>
<div id="json-result"></div>

<h4>JSON result for multiple employee: (static_pages.js)</h4>
<div id="json-result-mul-employee"></div>
