<div class="div1">
  DIV 1
</div>
<div class="div1">
  DIV 2
</div>
<div class="div1">
  DIV 3
</div>

<div class="div2">
  DIV 1
</div>
<div class="div2">
  DIV 2
</div>
<div class="div2">
  DIV 3
</div>

<div><b>Append example:</b></div>
<div id="append-example">
  <p>C#</p>
</div>


<div><b>Insert an element after and before:</b></div>
<div id="insert-example">
  <p>C#</p>
</div>
